body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #FFF;
        }
        #appendBox{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
            height: 300px;
            background: #f0f0f0;
            box-shadow: 2px 2px 6px black;
        }
        #imgCont {
            border: 3px solid #111;
            margin-left: 30px;
            background: #333;
            width: 200px;
            height: 200px;
        }
        #txtCont {
            border: 3px solid #000;
            color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-right: 30px;
            background: #333;
            width: 200px;
            height: 150px;
        }
        #count {
            margin-top: 30px;
            box-shadow: 2px 2px 6px black;
            width: 170px;
            height: 40px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        #plus {
            font-size: 22px;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 40px;
            border: 2px solid black;
        }
        #minus {
            font-size: 22px;
            display: flex;
            color: #000;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 40px;
            border: 2px solid black;
        }
        #plus:hover{
            cursor: pointer;
            background: lightgreen;
            opacity: 70%;
        }
        #minus:hover {
            cursor: pointer;
            background: red;
            opacity: 70%;
        }
        #btn1 {
            background: lightgreen;
            width: 150px;
            border-radius: 20px;
            height: 40px;
            margin-top: 20px;
            box-shadow: 2px 2px 6px black;
            border: none;
            color: #111;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #btn1:hover {
            box-shadow: none;
            cursor: pointer;
        }