:root{
    --gold: rgb(184, 159, 19);
}
body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #111;
}
header {
    min-width: 360px;
    color: white;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
}
header h1{
    margin-left: 10px;
}
header a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}
header a:hover {
    color: rgb(184, 159, 19);
    cursor: pointer;
}
iframe{
    min-width: 364px;
    margin-top: 20px;
    width: 100%;
    height: 550px;
}
#message {
    width: 300px;
    border-radius: 10px;
    background: #222;
    color: white;
    padding: 5px;
    margin-top: 10px;
}
#box {
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    display: flex;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    background: #111;
    width: 600px;
    height: fit-content;
}
.append {
    padding: 5px;
    margin-top: 20px;
    border: 4px solid #222;
    width: fit-content;
    height: fit-content;
    background: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: space-between;
    text-align: center;
}
.append:hover {
    cursor: pointer;
    background: #222;
    border: 2px solid white;
}
#productBox{
    margin-top: 20px;
    margin-left: 40px;
    position: absolute;
    font-size: 18px;
    display: none;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background: #000;
    color: white;
}
#productBox a{
    padding: 2px;
    text-decoration: none;
    color: white;
}
#productBox a:hover {
    cursor: pointer;
    background: #222;
    color: var(--gold);
}
#cartBox {
    margin-left: -50px;
    padding: 10px;
    overflow: hidden;
    margin-top: 20px;
    position: absolute;
    font-size: 18px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: fit-content;
    background: #f0f0f0;
    border: 2px solid black;
    color: black;
}
.cartappend {
    padding: 7px;
    margin-top: 20px;
    border: 4px solid #222;
    width: fit-content;
    height: 50px;
    background: #222;
    color: white;
    display: flex;
    box-shadow: 2px 2px 5px black;
    align-items: center;
    justify-content: center;
    flex-direction: space-between;
    text-align: center;
}
#cartBox h2 {
    text-align: center;
}
.cartImg {
    margin-left: 6px;
    border-radius: 50%;
}
.cartTxt {
    margin-left: 5px;
}
.checkoutBtn {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background: lightgreen;
    box-shadow: 2px 2px 6px black;
    border: none;
}
.checkoutBtn:hover {
    box-shadow: none;
    cursor: pointer;
}